<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <a routerLink=""  class="navbar-brand login-padding" *ngIf="!isUserLoggedIn()" (click)="login()" >Login</a>
  <a routerLink="" class="navbar-brand login-padding" *ngIf="isUserLoggedIn()" (click)="logout()" >Logout</a>
  Welcome {{empName}}
</nav> -->
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../assets/images/logo.jpeg" height="100" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink=""  class="nav-link active" *ngIf="!isUserLoggedIn()" (click)="login()" >الدخول</a>
          <a routerLink="" class="nav-link active" *ngIf="isUserLoggedIn()" (click)="logout()" >خروج</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" *ngIf="isUserLoggedIn()" >مرحباً</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">{{empName}}</a>
        </li>
        <li class="nav-item">
          <a routerLink="/" class="nav-link"  *ngIf="isUserLoggedIn()" >تسجيل الحضور</a>
        </li>
        <li class="nav-item">
          <a routerLink="/reports" class="nav-link"  *ngIf="isUserLoggedIn() && isReportsAllowed()">تقرير الحضور</a>
        </li>
     
       
      </ul>
    </div>
  </div>
</nav>
</div>
<div class="h-100 d-flex  align-items-center justify-content-center" *ngIf="!isUserLoggedIn()">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-10 text-center" >
              <h1 style="font-size:40pt;">تسجيل الحضور</h1>
           
          </div>
          <br/>
          <div class="row-5 text-center">
          
            <p>تسجيل الدخول وتسجيل حضورك<br>
             Please make sure location is turned on your mobile phone.  
               </p>
              <!-- <form id="subscribeForLaunch" class="input-group">
                  <input type="email" class="form-control email" style="background:rgba(255,255,255,0.8);" required="required" placeholder="Email" />
                  <button class="btn btn-info" onclick="subscribeRelease(); return false;">Submit!</button> 
              </form> -->
              <a routerLink="" class="btn btn-primary" (click)="login()" >الدخول</a>
          </div>  
      </div>
  </div>
</div>
<div class="h-100 d-flex  align-items-center justify-content-center" *ngIf="isUserLoggedIn()">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-10 text-center" >
              <h1 style="font-size:40pt;">مرحباً {{empName}}</h1>
           
          </div>
          <br/>
         
          <div class="row-5 text-center">
          
            
              <!-- <form id="subscribeForLaunch" class="input-group">
                  <input type="email" class="form-control email" style="background:rgba(255,255,255,0.8);" required="required" placeholder="Email" />
                  <button class="btn btn-info" onclick="subscribeRelease(); return false;">Submit!</button> 
              </form> -->
              <a routerLink="/" class="btn btn-primary" *ngIf="isUserLoggedIn() && enableWelcomeMessage()">تسجيل الحضور</a>
          </div>  
      </div>
  </div>
</div>
<!-- <div class="my-5" *ngIf="!loading && isUserLoggedIn()">

  <div class="container" *ngIf="distance && distance<=allowedRadius && allowedDevice">
    <div class="card p-3 shadow-sm">
      <form [formGroup]="form">
        <div class="row">
          <h3 class="text-center">Employees Attendance -- {{distance}}</h3>
        </div>
        
        <div class="form-group">
          <label for="email">Employee Code</label>
          <input type="text" class="form-control" formControlName="emp_code" placeholder="Enter Employee Code">
        </div>
        <div class="form-group">
          <label for="contract_type">Type of Contract</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="contract_type" formControlName="contract_type" value="full" checked>
            <label class="form-check-label">
              Contract Type 1
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="contract_type" name="contract_type" value="partial">
            <label class="form-check-label">
              Contract Type 2
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Department</label>
          <select class="form-control" formControlName="department" >
            <option selected disabled>Choose...</option>
            <option value="HR">HR</option>
            <option value="Digital Solutions">Digital Solutions</option>
            <option value="Communications">Communications</option>
          </select>
        </div>
        <div class="form-group">
          <label for="registration_type">Type of registration</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="registration_type" formControlName="registration_type" value="Entry" checked>
            <label class="form-check-label">
              Entry
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="registration_type" formControlName="registration_type" value="Exit">
            <label class="form-check-label">
              Exit
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="registration_type" formControlName="registration_type" value="Early Exit">
            <label class="form-check-label">
              Early Exit
            </label>
          </div>
        </div>
       <div class="row text-center">
        <button (click)="submitForm()" 
       
        class="btn btn-primary text-center w-25 mx-auto">{{submitting?'Loading..':"Submit"}}</button>  
       </div>
       <!-- [disabled]="!form.valid || submitting" -->
      <!-- </form>
    </div>
  </div>
  </div> -->
    
  <!-- <div class="container text-center" *ngIf="!allowedDevice">
 
    <div class="alert alert-danger" role="alert">

      Sorry currently we dont support desktop browsers. Please use your mobile browsers.
    </div>
  </div>

  <div class="container text-center" *ngIf="distance && distance>allowedRadius && allowedDevice">
 
    <div class="alert alert-danger" role="alert">

      You are outside designated area, Please visit the office building to make your attendance. {{distance}}
    </div>
  </div>


  
  <div class="container text-center" *ngIf="!locationAccess">
    <div class="alert alert-danger" role="alert">
      You should allow location to register your attendance.
    </div>
  </div> --> 


<div class="my-5" *ngIf="loading">
  loading...
</div>

<div>
  <router-outlet></router-outlet>
</div>
