
<div class="container">
   <a style="cursor: pointer" (click)="exportexcel()">
    <button class="btn btn-primary">Export</button>
   </a>
   <ngbd-datepicker-popup (dateSelected)="onDateSelected($event)"></ngbd-datepicker-popup>
        <table class="table" id="excel-table">
            <thead class="thead-light">
              <tr>
                <th scope="col">الاسم</th>
                <th scope="col">الادارة </th>
                <th scope="col">وقت الدخول</th>
                <th scope="col">وقت الخروج</th>
                <th scope="col">إستئذان</th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let attendance of attendances">
                <th scope="row">{{attendance.name}}</th>
                <td>{{attendance.department}}</td>
                <td>{{attendance.entryTime |date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{attendance.exitTime  |date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{attendance.earlyExitTime  |date: 'dd/MM/yyyy HH:mm:ss'}}</td>
              
              </tr>
            
            </tbody>
          </table>
  
</div>