
<div class="container">
   <a style="cursor: pointer" (click)="exportexcel()">
    <button class="btn btn-primary">Export</button>
   </a>
   <ngbd-datepicker-popup (dateSelected)="onDateSelected($event)"></ngbd-datepicker-popup>
        <table class="table" id="excel-table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Department</th>
                <th scope="col">Entry Time</th>
                <th scope="col">Exit Time</th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let attendance of attendances">
                <th scope="row">{{attendance.name}}</th>
                <td>{{attendance.department}}</td>
                <td>{{attendance.entryTime}}</td>
                <td>{{attendance.exitTime}}</td>
              
              </tr>
            
            </tbody>
          </table>
  
</div>