<div class="my-5" *ngIf="!loading && isUserLoggedIn()">
    
    <div class="container-fluid" *ngIf="distance && distance<=allowedRadius && allowedDevice">
      <div class="card p-3 shadow-sm">
        <div class="form-group">
        <form [formGroup]="form">
          <div class="row">
           
         
         
   
          <!-- <div class="form-group">
            <label for="contract_type">نوع العقد</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="ctype1" name="contract_type" formControlName="contract_type" value="موظف موان" checked>
              <label for="ctype1" class="form-check-label">
                موظف موان
              </label>
           
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="ctype2" formControlName="contract_type" name="contract_type" value="عقود – معار- متدرب">
              <label for="ctype2" class="form-check-label">
                عقود – معار- متدرب
              </label>
            </div>
          </div> -->
    
          <div class="container text-center" *ngIf="attendanceStatusDiv">
            <div class="row">
            <div class="alert alert-info" role="alert">
        
              <div *ngIf="attendanceStatus?attendanceStatus[0].entryTime:false"> وقت الدخول: {{attendanceStatus[0].entryTime |date: 'dd/MM/yyyy HH:mm:ss' }} </div> <br/>
              <div *ngIf="attendanceStatus?attendanceStatus[0].exitTime:false">وقت الخروج: {{attendanceStatus[0].exitTime |date: 'dd/MM/yyyy HH:mm:ss' }} </div> <br/>
              <!-- <div *ngIf="attendanceStatus?attendanceStatus[0].earlyEntryTime:false">إستئذان: {{attendanceStatus[0].earlyEntryTime |date: 'dd/MM/yyyy HH:mm:ss' }} </div> <br/> -->
              <div *ngIf="attendanceStatus?attendanceStatus[0].earlyExitTime:false">إستئذان: {{attendanceStatus[0].earlyExitTime |date: 'dd/MM/yyyy HH:mm:ss' }} </div> <br/> 
           
            </div>
            </div>
          </div>
        
    
         <div class="row text-center">
          <button (click)="submitForm('لدخول')"
         
          class="btn btn-primary text-center w-25 mx-auto" [disabled]="submitting || empRegisteredEntry">تسجيل دخول</button>  
          <button (click)="submitForm('الخروج')" [disabled]="submitting"
         
          class="btn btn-primary text-center w-25 mx-auto" [disabled]="submitting" >تسجيل انصراف</button> 
          <button (click)="submitForm('إستئذان')"
         
          class="btn btn-primary text-center w-25 mx-auto" [disabled]="submitting">إستئذان</button> 
         </div>
      
        
        </div>
      
       <br/>
        <div class="ontainer-fluid" *ngIf="PermissionClicked">
          <div class="card p-3 shadow-sm">
          <div class="row text-center" >
           <button (click)="submitForm('EarlyEntry')"
              class="btn btn-warning text-center w-25 mx-auto" [disabled]="submitting">Permission Entry</button>  
           <button (click)="submitForm('EarlyExit')" [disabled]="submitting"
          
           class="btn btn-warning text-center w-25 mx-auto" [disabled]="submitting">Permission Exit</button>
            
          </div>
           </div>
        </div>
         <!-- [disabled]="!form.valid || submitting" -->
        </form>
        </div>
      </div>
    </div>
    </div>
  
    <div class="container text-center" *ngIf="!isUserLoggedIn">
        <div class="alert alert-danger" role="alert">
             sorry you should login first..
          </div>
    </div>
    <div class="container text-center" *ngIf="!allowedDevice">
   
      <div class="alert alert-danger" role="alert">
  
        Sorry currently we dont support desktop browsers. Please use your mobile browsers.
      </div>
    </div>
  
    <div class="container text-center" *ngIf="distance && distance>allowedRadius && allowedDevice">
   
      <div class="alert alert-danger" role="alert">
  
        يجب أن تكون داخل مبنى المكاتب لتسجيل حضورك. {{distance}}
      </div>
    </div>
  

    
    <div class="container text-center" *ngIf="!locationAccess">
      <div class="alert alert-danger" role="alert">
        ارجو تفعيل خاصية الوصول الى الموقع الجغرافي
      </div>
    </div>
